<launch>
	<include file="$(find curiosity_mars_rover_description)/launch/curiosity_mars_rover_spawn.launch"/>
	<include file="$(find curiosity_mars_rover_description)/launch/curiosity_mars_rover_control.launch"/>
	<include file="$(find curiosity_mars_rover_description)/launch/curiosity_mars_rover_systems.launch"/>
</launch>